.buttonWrapper {
  border-radius: var(--border-radius);
  padding: 15px;
  width: 100%;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.highlight {
  background-color: var(--content-background-alpha);
}
